body{
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    font-size: 3em;
}

.intro{
    text-align: center;
    width: 1000px;
    word-spacing: 2px;
    font-weight: 400;
    font-size: 1.5rem;
}

button{
    font-family: 'Ubuntu' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    font-weight: 800;
    font-size: 1.5rem;
}

#restart{
    height: 50px;
    width: 200px;
    margin:0px auto;
    border-radius: 50px;  
}

.weapons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.result{
    font-weight: 800;
    text-align: center;
    font-size: 30px;
}

.scores{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 20px 20px -30px 20px;
}

.narration{
    text-align: center;
    width: 800px;
}

@media only screen and (max-width: 767px) {
    body{
        padding: 2px;
    }
    .narration{
        text-align: center;
        width: 400px;
    }   
    .intro{
        text-align: center;
        width: 400px;
        word-spacing: 2px;
        font-weight: 400;
        font-size: 1.5rem;
    }
}

#start{
    height: 50px;
    width: 200px;
    margin:20px auto;
    border-radius: 50px;    
}

button{
    background-color: white;
}

button:hover{
    box-shadow: white 0px 2px 4px;
}

#Rock{
    background-image: url(./images/rock-2.png);
    background-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
}

#Scissors{
    background-image: url(./images/scissors.png);
    background-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
}


#Paper{
    background-image: url(./images/paper.png);
    background-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
}

.popup{
    position: fixed;
    transform: translate(0%, 0%) scale(0);
    width: 400px;
    max-width: 70%;
    min-width: 200px;
    transition: 200ms ease-in-out;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 10px;
    z-index: 10;
}

.popup-header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}

.popup-header .title{
    font-size: 1.5rem;
    font-weight: 500;
}

.popup-header .close-button{
    background: none;
    border: none;
    cursor: pointer;
    appearance: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.popup-header .close-button:hover{
    box-shadow: none;
}

.popup-body{
    padding: 5px 10px;
}

#overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    opacity: 0%;
    background-color: rgba(0,0,0, 0.8);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.popup.active{
    transform: translate(0%, 0%) scale(1);
}